<?xml version="1.0"?>
<robot name="rover_bot">

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.5 0.4 0.17"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="left_wheel">
    <visual>
      <geometry>
        <cylinder radius="0.096" length="0.07"/>
      </geometry>
      <material name="black"/>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    </visual>
  </link>

  <joint name="left_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_wheel"/>
    <origin xyz="0.15 0.235 -0.035" rpy="0 0 0"/>
    <axis xyz="0 1 0"/> </joint>

  <link name="right_wheel">
    <visual>
      <geometry>
        <cylinder radius="0.096" length="0.07"/>
      </geometry>
      <material name="black"/>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    </visual>
  </link>

  <joint name="right_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="right_wheel"/>
    <origin xyz="0.15 -0.235 -0.035" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

</robot>