ekf_filter_node:
  ros__parameters:
    frequency: 30.0
    two_d_mode: true
    publish_tf: true
    
    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # ESP32'den gelen veriyi dinle
    odom0: /odom
    
    # Konfigürasyon: [x, y, z, roll, pitch, yaw, vx, vy, vz, vroll, vpitch, vyaw, ax, ay, az]
    # Sadece X, Y pozisyonu, Yaw açısı ve bunların hızlarını kullanıyoruz.
    odom0_config: [true,  true,  false,
                   false, false, true,
                   true,  true,  false,
                   false, false, true,
                   false, false, false]

    odom0_differential: false
    odom0_queue_size: 10